/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.flex > * {
  width: 250px;
}
.flex div {
  margin: 8px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3%;
  height: 90%;
}
